<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista de Pendientes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>


  <ion-card *ngFor="let lista of listaDeseosService.listas">
    <ion-item>
      <h2>{{lista.nombre}}</h2>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon> Tetris
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon> Tetris
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon> Tetris
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="Primary" (click)="irAgregar()">
      <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    </button>
 
  </ion-fab>


</ion-content>
